body {
    background-color: whitesmoke;
}

 .parent {
    display: flex;
    justify-content: space-evenly;
}
.operators{
    width: 25%;
    height: 20%;
    float: left;
    font-family: sans-serif;
    border-width: 0.5;
    font-weight: bold;
     color: plum;
    background-color: whitesmoke;
    font-size: large;
    font-weight: bold;
    cursor: pointer;

}
.numbers, .empty{
    width: 25%;
    height: 20%;
    float: left;
    font-family: sans-serif;
    border-width: 0.5;
    font-weight: bold;
    color : rgb(234, 13, 208);
    background-color: whitesmoke;
    font-size: large;
    font-weight: bold;
    cursor: pointer;


}
.operators:active, .numbers:active {
    font-size: medium;
}

.operators:focus, .numbers:focus, .empty:focus {
    outline: 0;
}

.operators:hover {
    color : rgb(234, 13, 208);
    font-size: medium;
}

.numbers:hover {
    color: plum;
    font-size: medium;
}

.operators:hover {
    color : rgb(234, 13, 208);
    font-size: medium;
}

.numbers:hover {
    color: plum;
    font-size: medium;
}
.numbers , .empty {
    width: 25%;
    height: 20%;
    float: left;
    font-family: sans-serif;
    border-width: 0.5;
    font-weight: bold;
    
}

#header, #footer {
    margin : 5px;
    border-style: solid;
    border-width: 2px;
    padding : 5px;
    font-family: sans-serif;
    color : rgb(234, 13, 208);
    text-align : center;
} 


#calculator {
    width: 26%;
    height: 350px;
    margin : auto;
    border-style: solid;
    border-width: 2px;
    padding : 5px;
    color : rgb(234, 13, 208);
}
#calculator {
    height: 530px;
    width: 94%;
    margin-left: 1.4%;
  }
  


#result {
    width: 70%;
    height: 10%;
    margin : 4px auto auto auto;
    border-style: solid;
    border-width: 2px;
    padding : 5px;
    margin-top: 0.8%;
    padding-left: 1%;
    padding-right: 1%;
    color : rgb(234, 13, 208);
}

#history {
    margin-top: 4%;
    height: 60%;
    width: 100%;
    text-align: right;
    font-size: large;
    font-family: sans-serif;
}

#keyboard {
    width: 70%;
    height: 62%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-style: solid;
    border-width: 2px;
    padding-top: 5px;
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 5px;
    color : rgb(234, 13, 208);
    font-family: sans-serif;
}

@media (hover: none) and (pointer: coarse) and (orientation: portrait) {
    #calculator {
        width: 72%;
        margin-left: 1.4%;
        margin-right: 0.7%;
        height: 620px;
    }
}

@media (hover: none) and (pointer: coarse) and (orientation: landscape){

 #calculator {
    height: 530px;
    width: 94%;
    margin-left: 1.4%;
  }
  
 #history-value {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
 #result {
    height: 80px;;
  }
  
 #history {
    padding-top: 5px;
  }
  
 #keyboard {
    height: 125px;
  }

}
  


.fa-twitter-square, .fa-github-square {
   color : rgb(234, 13, 208);
}

.fa-twitter-square:hover , .fa-github-square:hover {
    font-size: large;
    opacity: 0.5;
}